body{
    background-color: rgb(58, 57, 57);
    background-image: url('../img/bruno_fundo.jpeg');
    background-repeat: no-repeat;
}
header{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(39, 31, 31);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}
.rodape{
    padding: 3%;
}
.titulos {
    line-height: 3;
    text-align: center;
    font-weight: bold;
}
h1{
    color: rgb(128, 1, 1);
    font-size: 2em;
}
h2 {
    color: rgb(128, 1, 1);
    font-size: 1.5em;
}
p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    
}
nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
}
nav ul li {
     margin: 0 10px;
}
nav ul li a {
   color: antiquewhite;
   text-decoration: none;
   padding: 10px 15px;
   display: block;
}
nav ul li a:hover{
    background-color: rgb(220, 20, 20);
    border-radius: 5px;
}
.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top:60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }
    #menu-toggle:checked + .menu-icon + ul{
        display: flex;
    }
    nav ul li{
        text-align: center;
        margin: 0;
    }
    nav ul a {
        padding: 15px 0;
    } 
    nav ul li label {
        width: 100%;
        display: block;
    }
}
nav{
 /*width: 80%;*/
 /*width: auto;*/
}
main{
    /*margin-top: 60px;*/
    margin-top: 70px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
   padding: 20px; 
}
footer{
    padding: 3%;
}
.logo img {
    width: 15%;
    height: auto;
    max-width: 100%;
}
.caixa-imagem{
    text-align: center;
    margin-top: 1%;
}
figure {
    text-align: center;
    display: inline-block;
}
figure img {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(241, 4, 4, 0.7);
    max-width: 100%;
    height: auto;
}
figure figcaption {
    margin: 1.0em;
    text-align: center;
    color: gold;
}

